@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,500&display=swap');
:root{
    --first-button-color: #1b7ced;
    --white-color:#ffffff ;
    
}
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat,Roboto;
   
}

.three-line{
    font-size: 50px;
    float: right;
    display: none;
    cursor: pointer;
}
#check{
    display: none;
}

.first{
    width: 80%;
    height: auto;
    /* background-color: antiquewhite; */
   margin: 0px auto;
   padding: 30px 0px;

}
.list{
    float:right;
    margin-top: -50px;
}
.list-items{
    display: inline-block;
    
}
.list-items a{
     margin: 0px 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    padding: 10px 30px;
}
.spe{
    margin-right: 50px;
}
button{
    height: 50px;
    width: 190px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    font-family: Roboto;
}
.second-type-button{
    background-color: var(--first-button-color);
    color: #ffffff;
}
.second-type-button:hover{
    background-color:transparent;
    color: var(--first-button-color);
    transition: 0.6s;
    border: 1px solid var(--first-button-color);
}
.first-type-button{
    background-color: transparent;
    color: var(--first-button-color);
    border: 1px solid var(--first-button-color);
}
.first-type-button:hover{
    background-color: var(--first-button-color);
    color: #ffffff;
    transition: 0.8s;
}
.list a button{
    margin-left: 30px;
    
}
.list-items a:hover{
    background-color: var(--first-button-color);
    transition: 0.5s;
    border-radius: 10px;
    color: var(--white-color);
}
.second-right{
    height: 400px;
}

.same{
    /* background-color: aquamarine; */
    height: 445px;
    width: 80vw;
    margin: 100px auto 0px;
    display: flex;
    justify-content: space-between;
}
.second{
    margin-top: 150px;
}
.same  h1{
    margin-top: 50px;
    width: 29vw;
    font-size: 40px;
    font-family: Roboto;
    font-weight: 700; 
    text-transform: capitalize;
}
.same  h3{
    font-size: 16px;
    font-weight: 500;
    width: 34vw;
    margin: 45px 0px;
}

.margin{
    margin-left: 10vw;
    margin-top: -40px;
}
.same .image-2{
  margin-top: -50px;
  margin-left: -700px;
}
.same .image-3{
  margin-top: -90px;
  margin-left: 9vw;
 }
 .third .containet{
    margin-left: 13vw;
 }
.fifth{
    margin-top:200px;
    height: 150px;
   /* background-color: #1b7ced; */
}


 .six , .seven{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 70px auto;
 }

.same2 h2{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0px;
}
.same2 h3{
    font-weight: 500;
    font-size: 16px;
    width: 24vw;
}

.Eeight{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: linear-gradient( 160deg, #1b7ced 30% , blue 100%);
}
.Eeight h2{
    text-align: center;
    font-size: 50px;
    color: var(--white-color);
    margin-top: 60px;
}
.color{
    border-radius: 50%;
    color: aqua;
}
.box{
    /* background-color: #ff0000; */
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
.first-box{
    width: 350px;
    padding: 25px;
    border-radius: 10px;
  
    height: auto;
    background-color: var(--white-color);
}
.box .first-box h1{
    text-transform: capitalize;
   font-size: 45px ;
   font-weight: 600;
   font-family: monospace;
}
.first-box h3{
    font-weight: 400;
    margin: 20px 0px;
}
.first-box i{
    margin-top: 25px;
}
.first-box span{
    font-weight: 600;
    margin-left: 10px;
}
.first-box .lower h2{
    font-size: 40px;
    color: #000000;
    font-weight: 600;
}
.first-box .lower h2 span{
    color: #808080;
    margin-left: -3px;
}
.first-box .lower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-box .lower h4{
    text-transform: capitalize;
    margin: 20px auto 0px;
    font-weight: 600;
    color: #808080;
}
.first-box .lower button{
    margin: 30px auto ;
}
.box{
    display: flex;
    margin: 40px auto;
}
.bla {
    background-color: #000000;
    opacity: 0.8;
    width: 400px;
    height: 133px;
    color: #ffffff;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 10px;
}
.bla h1 {
    padding: 25px;
}
.bla h3{
    margin-top: -10px;
    margin-left: 24px;
}

.nine{
    margin: 100px auto 30px;
    width: 80%;
    text-align: center;
}
.nine h1{
    font-weight: 600;
    font-size: 50px;
}
.nine h2{
    margin: 20px auto;
    width: 42vw;
    font-weight: 500;
    font-size: 15px;
}

.ten {
    margin: 0px auto;
    width: 80vw;
    height: auto;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle{
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: hsl(0, 6%, 85%);
    border-radius: 50%;
}
.staff{
    position: absolute;
    display: flex;
    margin-left: 30px;
}
.staff .name-post{
    margin-left: 70px;
}
.staff .name-post h1{
    font-weight: 600;
    font-size: 30px;
}
.staff .name-post h2{
    font-weight: 500;
    margin-left: -3px;
    margin-top: -1px;
    font-size: 18px;
}
.same3 {
    justify-content: space-around;
    display: flex;
    
}
.same4{
    height: 250px;
    width: 40%;
    margin: 40px 20px 10px;
    background-color:var(--white-color) ;
    box-shadow: 1px 1px 5px 1px #808080  ;
}
.same4 h2{
    margin: 15px 20px 40px;
    font-weight: 600;
    font-size: 17px;
    width: 90%;
}

.eleven{
    height: auto;
    width: 100%;
    background: linear-gradient( 160deg, #1b7ced 10% , blue 140%);
    margin-top: 100px;
    padding: 20px 0px;
}

.eleven .containet{
    height: auto;
    margin: 0px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
}
.con-left{
    /* background-color: #ff0000; */
    width: 50%;
}
.eleven .containet h1{
    font-size: 45px;
    font-weight: 600;
   
}
.eleven .containet h3{
    font-size: 20px;
    font-weight: 500;
   
    margin-top: 15px;
}
.eleven .containet button{
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    margin-right: 100px;
}
.eleven .containet button:hover{
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 2px #ffff , -2px -2px 5px 2px #ffff;
}

footer{
    width: 100%;
   height: auto;
    /* background-color: aqua; */
    padding: 40px 0px;
}
.fotter-containet{
    margin: 30px auto;
    padding: 20px 0px;
    /* background-color: aqua; */
    margin: 0px auto;
    width: 80%;
    height: auto;
    display: flex;   
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
}

.fotter-containet .containet-1 h2{
    margin-top: 30px;
    width: 30vw;
    font-weight: 500;
    font-size: 20px;
}
.fotter-containet .same6 h1{
    font-weight: 600;
   
    font-size: 35px;
}
.fotter-containet .same6 h2{
    font-weight: 500;
    font-size: 18px;
    margin-top: 15px;
}

.containet-5 a i{
    margin:10px 5px;
}

.face{
    color: rgb(59,89, 152);
}
.twit{
    color: rgb(8, 160, 233);
}
.youtube{
    color: #ff0000;
  
}

.linkdin{
    color: rgb(0, 119,181);
}
.fifth{
    margin-top: 30px;
}



@media screen and (max-width:1490px) and (min-width:1190px) {
    /* body{
        background-color: #ff0000;
    } */
      .same .containet{
        width: 50%;
        height: 100%;
      }
      .image-3,.image1{
          width: 50%;
          height: 100%;
      }
      .second img , .fourth img{
       
         width: 100%;
         height: 100%;
     }
     .image1 img{
        margin-left: 0px;
        margin-top: 0px;
     }
    
 .image-2{
        height: auto;
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
        margin-top: 0px;
     }
     .third img{
     margin-right: 0px;
    margin-left: -700px;
     }      
      
}
@media screen and (max-width:1190px) {
    /* body{
        background-color: #ff0000;
    } */
    .same{
        /* background-color: aqua; */
        width: 80%;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
    }
    .containet{
   
        width: 100%;
        height: auto;

    }
 
    .containet h1 , .containet h3{
        width: 100%;
    }
    .image1 , .image-3{
        width: 100%;
        height: auto;
        
    }
  
   .image1 img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-left: 0px;
   }
 .image-3 img{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: -70px;
   
 }
 .third .containet{
    margin: 0px auto;
 }
 .third .image-2{
    margin-left: 0px;
   margin-top: 30px;
   height: 500px;
    width: 100%;
 }
 .third .image-2 img{
    margin-left:-700px;
 }
   .third{
    
    flex-direction: column-reverse;
   }

   .fifth{
  
    justify-content: flex-start;
    margin-top: -110px;
   }
   .fifth h1 , .fifth h3{
    margin-top: 20px;
    width: 80%;
   }

   
}
@media screen and (max-width:800px)  {
    /* body{
        background-color: aqua;
    } */
    .six , .seven{
        flex-direction: column;
    }
    .six .same2 , .seven .same2{
        width: 50%;
        height: auto;
       box-shadow: 1px 1px 2px 6px #808080;
       margin-top: 20px;
       padding: 15px;
       margin: 20px auto;
      }
      .seven{
      margin-top: -60px;
    
      }
      .same h2 , .same2 h3{
        width: 100%;
      }
    
}
@media screen  and (max-width:1260px){
    /* body{
        background-color: #ff0000;
    } */
    .same3{
        flex-direction: column;
    }
    .same4{
        width: 600px;
    }
    .eleven .containet{
  
        display: flex;
        flex-direction: column;
    }
    .con-left{

        width: 90%;
        height: auto;
    }
    .con-left h1 , .con-left h3 {
        width: 100%;
    }
    .eleven .containet button{
        margin: 20px auto;
    }
}
@media screen and (max-width:1720px) {
    .list-items a{
        margin: 0px ;
        padding: 10px 20px;
    }
    .spe{
        margin-right: 0px;
    }
    
}
@media screen and (max-width:1360px) {
    /* body{
        background-color: #ff0000;
    } */
   .three-line{
    display: block
   }
   .list{
    left: -100%;
    top: 160px;
    transition:all .5s;
    position:absolute;
    width: 50%;
    height: 100vh;
    background-color:#2c3e50;
   }
   .list-items{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    display: block;
   }
   .list-items a{
    font-size: 28px;
    color: #ffffff;
   }
   .list-items a:hover{
    background-color: transparent;
    color:var(--first-button-color);
   }
   #check:checked ~ nav ul{
    left: 0%;
    overflow-x: hidden;
   }
   body:hover > nav ul{
   left: -100%;
   }
    
}

@media screen and (max-width:690px) {
    .image-2{
       display: none;
    }
    .same4{
        width: 500px;
    }
}
@media screen and (max-width:560px) {
   
    .same4{
        width: 400px;
    }
}
@media screen and (max-width:460px) {
   
    .same4{
        width: 300px;
        height: 300px;
    }
    .staff .name-post h1{
        font-weight: 600;
        font-size: 20px;
    }
    .circle{
        margin-top: -10px;
    }
    
}